@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@font-face {
 font-family: 'Satoshi-regular';
 src: url('../assets/fonts/Satoshi-Regular.otf');
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

@font-face {
  font-family: 'Satoshi-bold';
  src: url(../assets/fonts/Satoshi-Black.otf);
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Satoshi-regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
